<!DOCTYPE html>
<html>
<head>
	<title>Simple Application</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
	<header>
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="{% url 'get_que_ans' %}">Test App</a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li class="active"><a href="/">Home</a></li>
		      <li><a href="/?username=admin">All Questions</a></li>
		    </ul>
		  </div>
		</nav>
	</header>
	<div class="container-fluid" style="margin:7%">
		{% if content.questions_count %}
	    <table id="total votes" class="table table-hover text-centered">
	        <thead>
	            <tr>
	                <th>Total Users</th>
	                <th>Total Questions</th>
	                <th>Total Answers</th>
	                <th>Total API Visit Count</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr>
	                <td>{{ content.users_count }}</td>
	                <td>{{ content.questions_count }}</td>
	                <td>{{ content.answer_count }}</td>
	                <td>{{ content.visit_count }}</td>
	            </tr>
	        </tbody>    
	    </table>
	    {% elif content.question_list %}
	    	{{ content }}
	    {% elif content.no_questions %}
	    	{{ content }}
	    {% elif content.empty_search %}
	    	{{ content }}
	    {% else %}
	    	{{ content }}
	    {% endif %}
	</div>

</body>
</html>
